@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

DETAILS

<h2>@ViewBag.Title</h2>

@* 
    commentaire en razor
*@

<!-- commentaire en html -->